
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}


